.entry-title {
    color: #424242;
}

#secondary {
    #recent-posts-2 {
        ul {
            li {
                background-color: #E65100;
                color: #fff;
            }
            a {
                color: #fff;
                text-decoration: overline;
                @media #{$mobile} {
                    color: blue;
                } 
            }
        }
    }
}
