body.page-portfolio {
    &:before,
    &:after {
        background: none;

    }
    #masthead {
        display: none;
    }
   .site {
    
   }
    .site-content {
        padding: 0;
        background-color: #1E88E5;
        color: #fff;
        padding: 7px;
        height: 100vh;
    }
    .site-footer {
        display: none;
    }
}